{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>STEKLO&IDEA</title>
</head>

<body>
    <div class="wrapper">
        {% if not context.for_header %}
        <header class="header header-goods">
            <div class="header__block header__block-goods">
                <div class="container">
                    <div class="header__nav-block">
                        <a href="{% url 'main_page' %}">
                            <p class="header__logo header__logo-goods">STEKLO&IDEA</p>
                        </a>
                        <div class="header__nav">
                            <a class="nav__link" href="{% url 'main_page' %}">
                                <p class="nav__item nav__item-goods">Главная</p>
                            </a>
                            <div class="nav__link cart__link__block">
                                <div class="cart__link"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                <div class="cart__block">
                <div class="cart__header">
                    <p class="cart-header__title">Корзина</p>
                    <div class="cart-header__close"></div>
                </div>
                <div class="cart__main">
                    <div class="cart__items">
                    </div>
                    <div class="cart__order">
                        <p class="order__title">Оформить заказ</p>
                        <div class="order__form">
                            <input class="order-form__input" type="text" placeholder="Имя" name="" id="">
                            <input class="order-form__input" type="text" placeholder="Номер телефона" name="" id="">
                            <input class="order-form__input" type="text" placeholder="Город" name="" id="">
                        </div>
                        <div class="order__btn">Оставить заявку</div>
                    </div>
                </div>
            </div>
        </header>
        {% else %}
        <header class="header">
            <div class="header__block">
                <div class="container">
                    <div class="header__nav-block">
                        <a href="{% url 'main_page' %}">
                            <p class="header__logo">STEKLO&IDEA</p>
                        </a>
                        <div class="header__nav">
                            <a class="nav__link" href="{% url 'goods' %}">
                                <p class="nav__item">Каталог</p>
                            </a>
                            <a class="nav__link" href="">
                                <p class="nav__item">Частые вопросы</p>
                            </a>
                            <a class="nav__link" href="">
                                <p class="nav__item">Связь с нами</p>
                            </a>
                            <div class="header__burger">
                                <span></span>
                            </div>
                            <div class="header__burger__block">
                                <div class="burger__nav">
                                    <p class="burger__logo">STEKLO&IDEA</p>
                                    <a class="burger__nav__link" href="{% url 'goods' %}">
                                        <p class="burger__nav__item">Каталог</p>
                                    </a>
                                    <a class="burger__nav__link" href="">
                                        <p class="burger__nav__item">Частые вопросы</p>
                                    </a>
                                    <a class="burger__nav__link" href="">
                                        <p class="burger__nav__item">Связь с нами</p>
                                    </a>
                                    <a class="burger__nav__link" href="">
                                        <p class="burger__nav__item">Популярные зеркала</p>
                                    </a>
                                    <a class="burger__nav__link" href="">
                                        <p class="burger__nav__item">Проекты</p>
                                    </a>
                                    <a class="burger__nav__link" href="">
                                        <p class="burger__nav__item">Процесс разработки</p>
                                    </a>
                                </div>
                                <div class="burger__social">
                                    <a class="social__link" href="">
                                        <img src="{% static '/img/vk.svg' %}" alt="" class="social__item">
                                    </a>
                                    <a class="social__link" href="">
                                        <img src="{% static '/img/tg.svg' %}" alt="" class="social__item">
                                    </a>
                                    <a class="social__link" href="">
                                        <img src="{% static '/img/insta.svg' %}" alt="" class="social__item">
                                    </a>
                                    <a class="social__link" href="">
                                        <img src="{% static '/img/whatsapp.svg' %}" alt="" class="social__item">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__promo">
                        <p class="promo__title">Отражение</br>ваших фантазий</p>
                        <p class="promo__subtitle">В наших зеркалах</p>
                    </div>
                </div>
            </div>
            <img class="header__bkg-img" src="{{ context.image_next_to_the_slogan }}" alt="">
        </header>
        {% endif %}
        {% block content %} {% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="footer__block">
                    <hr class="line line-white">
                    <div class="title title-white">Контакты</div>
                    <div class="footer__info">
                        <div class="footer__contacts">
                            <p class="footer__title">Россия</p>
                            <p class="footer-contacts__item">STEKLO&IDEA</p>
                            <p class="footer-contacts__item">Красноярск, ул. Кольцевая, 5</p>
                            <a class="footer-contacts__item footer-item__bolder" href="tel:+79955721248">+7 (995) 572
                                12-48</a>
                            <p class="footer-contacts__item footer-item__bolder">qwerty@gmail.com</p>
                            <div class="footer-contacts__social">
                                <a class="footer-social__item" href="">
                                    <img src="img/vk__white.svg" alt="">
                                </a>
                                <a class="footer-social__item" href="">
                                    <img src="img/tg__white.svg" alt="">
                                </a>
                                <a class="footer-social__item" href="">
                                    <img src="img/insta__white.svg" alt="">
                                </a>
                                <a class="footer-social__item" href="">
                                    <img src="img/whatsapp__white.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="footer__links">
                            <p class="footer__title">Ссылки</p>
                            <div class="footer-links__block">
                                <div class="footer-links__column">
                                    <a href="" class="footer-links__item">Популярные зеркала</a>
                                    <a href="" class="footer-links__item">Частые вопросы</a>
                                    <a href="" class="footer-links__item">Связь с нами</a>
                                </div>
                                <div class="footer-links__column">
                                    <a href="" class="footer-links__item">Проекты</a>
                                    <a href="" class="footer-links__item">Каталог</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer__dev">
                <div class="container">
                    <div class="footer-dev__txt">
                        <p class="copyright">Copyright by STEKLO&IDEA @2022-2023 </p>
                        <p class="creators">Disigned by CSP</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static '/js/slick.min.js' %}"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static '/js/index.js' %}"></script>

</html>