{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main">
            <div class="popular-mirrors">
                <div class="container">
                    <hr class="line line-white">
                    <p class="title title-white">Популярные зеркала</p>
                    <div class="popular-mirrors__block">
                        <div class="mirror-show">
                            <div class="mirror__slide">
                                <div class="show-img"></div>
                                <div class="show__description">
                                    <p class="description__title">Зеркало в профиле с контурной подсветкой!</p>
                                    <div class="description__item-block">
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Материал: <span class="show-dark">серебро</span>
                                        </p>
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Подсветка: <span class="show-dark">теплая</span>
                                        </p>
                                        <p class="description__item">Основа: <span class="show-dark">алюминиевый
                                                профиль</span>
                                        </p>
                                    </div>
                                    <a href="" class="show-btn__link">
                                        <div class="show__btn">Заказать</div>
                                    </a>
                                </div>
                            </div>
                            <div class="mirror__slide">
                                <div class="show-img"></div>
                                <div class="show__description">
                                    <p class="description__title">Это второй</p>
                                    <div class="description__item-block">
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Материал: <span class="show-dark">серебро</span>
                                        </p>
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Подсветка: <span class="show-dark">теплая</span>
                                        </p>
                                        <p class="description__item">Основа: <span class="show-dark">алюминиевый
                                                профиль</span>
                                        </p>
                                    </div>
                                    <a href="" class="show-btn__link">
                                        <div class="show__btn">Заказать</div>
                                    </a>
                                </div>
                            </div>
                            <div class="mirror__slide">
                                <div class="show-img"></div>
                                <div class="show__description">
                                    <p class="description__title">Да 52</p>
                                    <div class="description__item-block">
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Материал: <span class="show-dark">серебро</span>
                                        </p>
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Подсветка: <span class="show-dark">теплая</span>
                                        </p>
                                        <p class="description__item">Основа: <span class="show-dark">алюминиевый
                                                профиль</span>
                                        </p>
                                    </div>
                                    <a href="" class="show-btn__link">
                                        <div class="show__btn">Заказать</div>
                                    </a>
                                </div>
                            </div>
                            <div class="mirror__slide">
                                <div class="show-img"></div>
                                <div class="show__description">
                                    <p class="description__title">Да 52</p>
                                    <div class="description__item-block">
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Материал: <span class="show-dark">серебро</span>
                                        </p>
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Подсветка: <span class="show-dark">теплая</span>
                                        </p>
                                        <p class="description__item">Основа: <span class="show-dark">алюминиевый
                                                профиль</span>
                                        </p>
                                    </div>
                                    <a href="" class="show-btn__link">
                                        <div class="show__btn">Заказать</div>
                                    </a>
                                </div>
                            </div>
                            <div class="mirror__slide">
                                <div class="show-img"></div>
                                <div class="show__description">
                                    <p class="description__title">Да 52</p>
                                    <div class="description__item-block">
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Материал: <span class="show-dark">серебро</span>
                                        </p>
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Подсветка: <span class="show-dark">теплая</span>
                                        </p>
                                        <p class="description__item">Основа: <span class="show-dark">алюминиевый
                                                профиль</span>
                                        </p>
                                    </div>
                                    <a href="" class="show-btn__link">
                                        <div class="show__btn">Заказать</div>
                                    </a>
                                </div>
                            </div>
                            <div class="mirror__slide">
                                <div class="show-img"></div>
                                <div class="show__description">
                                    <p class="description__title">Да 52</p>
                                    <div class="description__item-block">
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Материал: <span class="show-dark">серебро</span>
                                        </p>
                                        <p class="description__item">Размер: <span class="show-dark">2100x600</span></p>
                                        <p class="description__item">Подсветка: <span class="show-dark">теплая</span>
                                        </p>
                                        <p class="description__item">Основа: <span class="show-dark">алюминиевый
                                                профиль</span>
                                        </p>
                                    </div>
                                    <a href="" class="show-btn__link">
                                        <div class="show__btn">Заказать</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mirror__nav">
                            <div class="mirror__nav__item" data-id="0">
                                <img src="img/popular-m-example.png" alt="" class="mirror__nav__item-img">
                            </div>
                            <div class="mirror__nav__item" data-id="1">
                                <img src="img/nav-ex.png" alt="" class="mirror__nav__item-img">
                            </div>
                            <div class="mirror__nav__item" data-id="2">
                                <img src="img/nav-ex2.png" alt="" class="mirror__nav__item-img">
                            </div>
                            <div class="mirror__nav__item" data-id="3">
                                <img src="img/popular-m-example.png" alt="" class="mirror__nav__item-img">
                            </div>
                            <div class="mirror__nav__item" data-id="4">
                                <img src="img/nav-ex.png" alt="" class="mirror__nav__item-img">
                            </div>
                            <div class="mirror__nav__item" data-id="5">
                                <img src="img/nav-ex2.png" alt="" class="mirror__nav__item-img">
                            </div>
                        </div>
                        <a href="" class="show-btn__link show-btn-mobile">
                            <div class="show__btn">Заказать</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="projects">
                <div class="projects__image-show is2">
                    <div class="image-show__close"></div>
                    <div class="image-show__slider">
                        <div class="image-show__slide">
                            <img data-id="is1" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is2" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is3" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is4" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is5" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                    </div>
                </div>

                <div class="projects__image-show is1">
                    <div class="image-show__close"></div>
                    <div class="image-show__slider">
                        <div class="image-show__slide">
                            <img data-id="is1" src="img/is1.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is2" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is3" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is4" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                        <div class="image-show__slide">
                            <img data-id="is5" src="img/popular-m-example.png" alt="" class="image-show__img">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <hr class="line line-dark">
                    <div class="title title-dark">Проекты</div>
                    <div class="projects__block">
                        <div class="projects__slider">
                            <div class="projects__slide">
                                <div class="projects-slide__images">
                                    <img data-id="is1" src="img/is1.png" alt="" class="projects__img">
                                    <img data-id="is1" src="img/is2.png" alt="" class="projects__img">
                                    <img data-id="is1" src="img/is3.png" alt="" class="projects__img">
                                    <img data-id="is1" src="img/is4.png" alt="" class="projects__img">
                                    <img data-id="is1" src="img/is5.png" alt="" class="projects__img">
                                </div>
                                <p class="projects-slide__title">Круглые зеркала в металлической раме для замка Шамони
                                </p>
                                <p class="projects-slide__subtitle">Красноярск.</p>

                            </div>
                            <div class="projects__slide">
                                <div class="projects-slide__images">
                                    <img data-id="is2" src="img/popular-m-example.png" alt="" class="projects__img">
                                    <img data-id="is2" src="img/popular-m-example.png" alt="" class="projects__img">
                                    <img data-id="is2" src="img/popular-m-example.png" alt="" class="projects__img">
                                    <img data-id="is2" src="img/popular-m-example.png" alt="" class="projects__img">
                                    <img data-id="is2" src="img/popular-m-example.png" alt="" class="projects__img">
                                </div>
                                <p class="projects-slide__title">Dnjhjq</p>
                                <p class="projects-slide__subtitle">Красноярск.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="often-questions">
                <div class="container">
                    <hr class="line line-white">
                    <p class="title title-white">Частые вопросы</p>
                    <div class="often-questions__block">
                        <div class="question">
                            <hr class="line line-white line-question">
                            <div class="questions__item">
                                <div class="question__description">
                                    <p class="question__num">1.</p>
                                    <p class="question__title">Как происходит доставка?</p>
                                </div>
                                <div class="question__arrow"></div>
                            </div>
                            <div class="question__txt">
                                Доставка зеркал и в пределах Красноярска при заказе от <span
                                    class="question-txt__bold">30000 рублей</span> осуществляется
                                бесплатно.
                                <br><br>
                                При заказе <span class="question-txt__bold">до 30000 рублей</span> стоимость доставки в
                                пределах Красноярска составляет от <span class="question-txt__bold">800
                                    рублей.</span>
                                <br><br>
                                При отсутствии в здании лифта (а так же при любых его неисправностях и малых габаритах)
                                доставка производится до первого этажа. При ручном подъеме изделия цена за этаж
                                составляет <span class="question-txt__bold">200 рублей</span>.
                                <br><br>
                                Доставка <span class="question-txt__bold">в регионы</span> осуществляется посредством
                                курьерских служб (Деловые линии, ПЭК или
                                любой другой по выбору заказчика). В обязательном порядке используется упаковка
                                повышенной жесткости для предотвращения нанесения урона зеркалу в момент
                                транспортировки.
                            </div>
                        </div>
                        <div class="question">
                            <hr class="line line-white line-question">
                            <div class="questions__item">
                                <div class="question__description">
                                    <p class="question__num">2.</p>
                                    <p class="question__title">Как оплатить товар?</p>
                                </div>
                                <div class="question__arrow"></div>
                            </div>
                            <div class="question__txt">
                                Доставка зеркал и в пределах Красноярска при заказе от <span
                                    class="question-txt__bold">30000 рублей</span> осуществляется
                                бесплатно.
                                <br><br>
                                При заказе <span class="question-txt__bold">до 30000 рублей</span> стоимость доставки в
                                пределах Красноярска составляет от <span class="question-txt__bold">800
                                    рублей.</span>
                                <br><br>
                                При отсутствии в здании лифта (а так же при любых его неисправностях и малых габаритах)
                                доставка производится до первого этажа. При ручном подъеме изделия цена за этаж
                                составляет <span class="question-txt__bold">200 рублей</span>.
                                <br><br>
                                Доставка <span class="question-txt__bold">в регионы</span> осуществляется посредством
                                курьерских служб (Деловые линии, ПЭК или
                                любой другой по выбору заказчика). В обязательном порядке используется упаковка
                                повышенной жесткости для предотвращения нанесения урона зеркалу в момент
                                транспортировки.
                            </div>
                            <hr class="line line-white line-question-last">
                        </div>
                    </div>
                </div>
            </div>

            <div class="parallax__fixed">
                <div class="parallax__block">
                    <hr class="line line-dark txt-fixed">
                    <div class="title title-dark txt-fixed">Процесс разработки</div>
                    <div class="horizontal-scroll__wrapper">
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax1.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">01</p>
                            <p class="img-wrapper__subtitle">Консультируем</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax2.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">02</p>
                            <p class="img-wrapper__subtitle">Предварительный подсчет</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax3.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">03</p>
                            <p class="img-wrapper__subtitle">Выезд на замер</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax4.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">04</p>
                            <p class="img-wrapper__subtitle">Составляем документы</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax5.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">05</p>
                            <p class="img-wrapper__subtitle">Оплачиваем аванс</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax6.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">06</p>
                            <p class="img-wrapper__subtitle">Запускаем заказ в работу</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax7.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">07</p>
                            <p class="img-wrapper__subtitle">Презентация работы</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax8.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">08</p>
                            <p class="img-wrapper__subtitle">Оплачиваем остаток</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax9.svg" alt="">
                                <img class="parallax__arrow" src="img/parallax__arrow.svg" alt="">
                            </div>
                            <p class="img-wrapper__title">09</p>
                            <p class="img-wrapper__subtitle">Доставляем и монтируем</p>
                        </div>
                        <div class="img__wrapper">
                            <div class="img__block">
                                <img class="parallax__img" src="img/parallax10.svg" alt="">

                            </div>
                            <p class="img-wrapper__title">10</p>
                            <p class="img-wrapper__subtitle">Любуемся в отражение</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-us">
                <div class="container">
                    <hr class="line line-white">
                    <div class="title title-white">Связь с нами</div>
                    <div class="contact-us__block">
                        <div class="form__item">
                            <input placeholder="Имя" type="text" class="form__input">
                        </div>
                        <div class="form__item">
                            <input placeholder="Номер телефона" type="text" class="form__input">
                        </div>
                        <div class="form__item">
                            <input placeholder="Город" type="text" class="form__input">
                        </div>
                        <div class="form-textare__block">
                            <p class="form__title">Ваш комментарий</p>
                            <textarea class="form__textarea"></textarea>
                        </div>
                        <div class="contact-us__btn">Оставить заявку</div>
                    </div>
                </div>
            </div>

        </main>
{% endblock %}