{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main main-goods">
    <div class="container">
        <div class="product__block">
            <div class="product__show">
                <div class="product__slide__block">
                    {% for image in context.mirror.images %}
                    <div class="product__slide">
                        <img src="{{ image.image.url }}" alt="" class="product-slide__img">
                    </div>
                    {% endfor %}
                </div>
                <div class="product__subslide__block">
                    {% for image in context.mirror.images %}
                    <div class="product__subslide">
                        <img src="{{ image.image.url }}" alt="" class="product-subslide__img">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="product__description__block">
                <div class="product__title">
                    <p class="product__name">{{ context.mirror.product.name }}</p>
                    <div class="product__price">от {{ context.mirror.cost }} ₽</div>
                </div>
                <div class="product__description">
                    <p class="description__main">{{ context.mirror.product.description }}</p>
                    <div class="description__characteristic">
                                <span class="characteristic-dark">Размер: </span>
                                <div class="characteristic__choose">
                                    <p class="choose__var-show">{{ context.mirror.size.size }}</p>
                                    <svg width="18" height="11" viewBox="0 0 16 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.29289 8.70711C7.68342 9.09763 8.31658 9.09763 8.70711 8.70711L15.0711 2.34315C15.4616 1.95262 15.4616 1.31946 15.0711 0.928932C14.6805 0.538408 14.0474 0.538408 13.6569 0.928932L8 6.58579L2.34315 0.928932C1.95262 0.538408 1.31946 0.538408 0.928932 0.928932C0.538408 1.31946 0.538408 1.95262 0.928932 2.34315L7.29289 8.70711ZM7 7L7 8L9 8L9 7L7 7Z"
                                            fill="#484848" fill-opacity="0.6" />
                                    </svg>
                                    <div class="choose__list">
                                        {% for size in context.mirror.other_size %}
                                            {%if forloop.counter0 == 0 %}
                                            <a href="{% url 'mirror' slug_id=context.mirror.product.slug %}">
                                                <p class="choose__var">{{ size }}</p>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'mirror_size' slug_id=context.mirror.product.slug size_id=forloop.counter0 %}">
                                                <p class="choose__var">{{ size }}</p>
                                            </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    <p class="description__characteristic">
                        <span class="characteristic-dark">Зеркало: </span>серебро
                    </p>

                    <p class="description__characteristic">
                        <span class="characteristic-dark">Подсветка: </span>{{ context.mirror.back_light }}
                    </p>
                    <p class="description__characteristic">
                        <span class="characteristic-dark">Основа: </span>{{ context.mirror.basis }}
                    </p>
                </div>
                <div class="product__buy">
                    <!-- <p class="buy__annotation">Количество:</p> -->
                    <div class="buy__block">
                        <!-- <div class="buy__count">
                            <div class="count-minus">-</div>
                            <div class="count">1</div>
                            <div class="count-plus">+</div>
                        </div> -->
                        <form action="{% url 'orders:add_with_size' product_id=context.mirror.product.id size_id=context.mirror.size_id%}" method="post">
                            {%csrf_token %}
                            <button class="buy__btn btn btn-dark">Добавить в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}